{
   "presets": ["@babel/preset-env", "@babel/preset-react"],
   "plugins": [
      ["module-resolver", {
        "root": ["./src"],
        "alias": {
          "@components": "./components"
        }
      }]
    ]
}









// "presets": Это наборы плагинов Babel3@babel/preset-env используется для компиляции 
// синтаксиса ES2015+3, а @babel/preset-react используется для React3.
// "plugins": Плагины Babel включают преобразования кода4. В вашем случае, плагин 
// module-resolver используется для настройки псевдонимов и корневых путей в вашем проекте. 
// Это позволяет вам импортировать модули более удобным способом, не используя относительные 
// пути. В данном случае, "root": ["./src"] указывает, что корневой каталог для модулей 
// находится в папке src, а "alias": {"@components": "./components"} позволяет вам 
// импортировать любой модуль из папки components с использованием псевдонима @components.


// npx babel src --out-dir dist
// yarn babel src --out-dir dist
