.header{ 
   display: flex;
   justify-content: space-between;
   align-items: center;
   background: #4b4b4b;
}

.title{
   margin-left: 30px;
   color: #f1f1f1;
}

.nav{
margin-right: 30px;
}

.nav a{
   text-decoration: none;
   padding-right: 20px;
   color: #f1f1f1;
}

.nav a:last-child{
   padding-right: 0;
}

.nav a:hover,
.nav a:focus{
   text-decoration: underline;
}